{# This file is part of the PreviewBundle #}
{# Contains the Angular template for the subscription form #}

<script type="text/ng-template" id="preview_subscription_template.html">
    <section id="channels">
        <div class="row">
            <div class="col-md-12">
                <a id="btn-mailing-list" class="channel-button" ng-click="$ctrl.toggleSlide('mailing-list')" ng-class="{ 'active': $ctrl.slide == 'mailing-list' }">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>mailing list</span>
                </a>
                <a id="btn-twitter" class="channel-button" ng-click="$ctrl.toggleSlide('twitter')" href="https://twitter.com/secretflagup" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <span>twitter</span>
                </a>
                <a id="btn-instagram" class="channel-button" ng-click="$ctrl.toggleSlide('instagram')" href="https://www.instagram.com/secretflag/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <span>instagram</span>
                </a>
                <a id="btn-youtube" class="channel-button" ng-click="$ctrl.toggleSlide('youtube')" href="https://www.youtube.com/channel/UCZv5mcRPyi2W3D6R52eRSxA" target="_blank">
                    <i class="fab fa-youtube"></i>
                    <span>youtube</span>
                </a>
            </div>
        </div>
        <div class="channel-blurb w-100" ng-show="$ctrl.slide == 'mailing-list'">
            <div ng-if="!$ctrl.showThankYou">
                <div>Subscribe and stay informed. Don't worry &ndash; we won't pepper you with emails.</div>
                <div class="form-row align-items-center">
                    <div class="col-md-9 col-sm-12 mb-2">
                        <label for="email" class="sr-only">Enter your email address to subscribe to SecretFlag updates</label>
                        <input type="email" class="form-control form-control-lg text-center" id="email" placeholder="i.am@interested.sf" autocomplete="off" ng-model="$ctrl.email" ng-disabled="$ctrl.submitting" ng-class="{ 'is-valid': $ctrl.email, 'is-invalid': $ctrl.emailInvalid || $ctrl.otherError || $ctrl.isDupe }" ng-keypress="$ctrl.emailInvalid = false; $ctrl.isDupe = false; $ctrl.otherError = false;">
                        <div class="invalid-feedback" ng-if="$ctrl.emailInvalid">
                            Your email address does not appear to be valid.
                        </div>
                        <div class="invalid-feedback" ng-if="$ctrl.isDupe">
                            Hello again! We may have seen you before and already have your subscription recorded.
                        </div>
                        <div class="invalid-feedback" ng-if="$ctrl.otherError">
                            We are really sorry - we could not record your subscription. Try again, perhaps?
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2">
                        <button class="btn btn-default btn-lg" ng-disabled="!$ctrl.email || $ctrl.submitting" ng-click="$ctrl.submitSubscription()" ng-class="{ 'btn-primary': $ctrl.email && !$ctrl.submitting }">
                            <span ng-if="!$ctrl.submitting">Subscribe</span>
                            <span ng-if="$ctrl.submitting"><i class="fas fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center thank-you" ng-if="$ctrl.showThankYou">
                <i class="far fa-check-circle"></i> Thank you for subscribing to our updates. We will be in touch soon.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                feel free to send us an email at <i class="fas fa-pen"></i> <a href="mailto:admin@secretflag.com">admin@secretflag.com</a> to have a one-on-one conversation
            </div>
        </div>
    </section>
</script>