{#
    SecretFlag Twig Template:
    Email sent to a user upon registration to validate the account
#}

<body style="font-family: 'Helvetica', 'Arial', sans-serif; text-align: center; font-size: 18px;">
    <img style="width: 20%; height: auto;" src="{{ absolute_url(asset('img/logo/sf-logo-05.png')) }}" />
    <p style="font-size: 24px; font-weight: 100; color: #854EA8;">Please verify your email</p>

    <p>Hello. Our records indicate you created an account using this email address. To join our community, establish trust and enhance security, we ask that you verify the email address used to create your secretflag account.</p>

    <p><a style="color: #ffffff; background-color: #854EA8; border-radius: 50px; margin: auto; width: 250px; height: 50px; text-decoration: none; display: inline-block; line-height: 50px; text-align: center; font-size: 20px; font-weight: bold;" href="{{ absolute_url(path('user.do_verify', { token: user.confirmationToken })) }}">Verify my email</a></p>

    <p>By verifying your email, you agree to play nice and be bound by our rules and policies.</p>

    <p>If you have any questions, please get in touch with us at <a href="mailto:admin@secretflag.com">admin@secretflag.com</a>.</p>

    <p style="color: #854EA8;">Help spread the word and tell your friends about <a href="https://www.secretflag.com">secretflag.com</a>.</p>

    <p style="color: rgba(0, 0, 0, 0.7); font-size: 14px; margin-top: 40px;">If you didn't recently create an account with us, you can safely ignore this email.</p>
</body>