{# This file is part of the AppBundle #}
{# Base starter template provided by Bootstrap 4 #}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Additional meta tags -->
    {% block meta_tags %}{% endblock meta_tags %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/fontawesome-all.min.css') }}">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/animate.min.css') }}">

    <!-- SpinKit CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/spinkit.css') }}">

    <!-- SF CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">

    <!-- Additional styles -->
    {% block stylesheets %}{% endblock %}

    <title>secretflag - more than just an experience it's belonging</title>
</head>
<body ng-app="sfApp" ng-cloak>
    {% block body %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.bundle.min.js') }}"></script>

    <!-- momentjs library -->
    <script src="{{ asset('bundles/app/js/moment.min.js') }}"></script>

    <!-- Symfony routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- angular libraries -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular/angular-messages.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular/angular-animate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular/angular-cookies.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular/angular-route.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/ui-bootstrap-tpls-2.5.0.min.js') }}"></script>

    <!-- angularjs app -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/angular-app.js') }}"></script>
    <!-- angular services -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/services/base.js') }}"></script>

    <script type="text/javascript">
        (function() {
            try {
                var sfApp = angular.module('sfApp');
                if (!sfApp) {
                    throw 'Angular sfApp could not be loaded';
                }


            } catch (e) {
                console.log(e);
            }

            // enable bootstrap tooltips
            $('[data-toggle="tooltip"]').tooltip();
        })();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138317095-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-138317095-1');
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>