{#
    SecretFlag Twig Template:
    Header masthead
#}

<header class="masthead dropleft d-flex flex-row align-items-center">
    <a class="btn text-center user-bubble dropdown-toggle d-inline-flex flex-row align-items-center justify-content-center mr-auto ml-3" href="{{ absolute_url(path('homepage')) }}" data-toggle="tooltip" data-placement="right" title="Click here to go back home">
        <i class="fas fa-1x fa-home"></i>
    </a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <button id="user-menu" class="btn text-center user-bubble dropdown-toggle d-inline-flex flex-row align-items-center justify-content-center ml-auto mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ app.user.abbreviatedName }}
    </button>
    <div class="user-bubble-menu dropdown-menu" aria-labelledby="user-menu">
        <span class="dropdown-item-text text-primary"><strong>Welcome, {{ app.user.name }}!</strong></span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ absolute_url(path('fos_user_security_logout')) }}"><i class="fas fa-sign-out-alt"></i> Log me out</a>
    </div>
    {% else %}
    <a class="d-none d-md-inline-flex btn text-center user-bubble dropdown-toggle flex-row align-items-center justify-content-center ml-auto mr-3" href="{{ absolute_url(path('user.register')) }}" data-toggle="tooltip" data-placement="left" title="Click here to register for an account with us">
        <i class="fas fa-1x fa-user-plus"></i>
    </a>
    <a class="d-none d-md-inline-flex btn text-center user-bubble dropdown-toggle flex-row align-items-center justify-content-center mr-3" href="{{ absolute_url(path('fos_user_security_login')) }}" data-toggle="tooltip" data-placement="left" title="Click here to log in with your SecretFlag account">
        <i class="fas fa-1x fa-sign-in-alt"></i>
    </a>
    <button id="user-menu" class="d-inline-flex d-md-none btn text-center user-bubble dropdown-toggle flex-row align-items-center justify-content-center ml-auto mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-1x fa-bars"></i>
    </button>
    <div class="user-bubble-menu dropdown-menu" aria-labelledby="user-menu">
        <a class="dropdown-item" href="{{ absolute_url(path('fos_user_security_login')) }}">
            <i class="fas fa-sign-in-alt"></i> Login
        </a>
        <a class="dropdown-item" href="{{ absolute_url(path('user.register')) }}">
            <i class="fas fa-user-plus"></i> Register
        </a>
    </div>
    {% endif %}
</header>