{#
    SecretFlag Twig Template:
    Email sent to a user upon requesting a reset of their password
#}

{% block subject %}
    Resetting your SecretFlag password
{% endblock subject %}

{% block body_html %}
<body style="font-family: 'Helvetica', 'Arial', sans-serif; text-align: center; font-size: 18px;">
    <img style="width: 20%; height: auto;" src="{{ absolute_url(asset('img/logo/sf-logo-05.png')) }}" />
    <p style="font-size: 24px; font-weight: 100; color: #854EA8;">Resetting your password</p>

    <p>Hello {{ user.name }}, it looks like you have requested a reset of your SecretFlag password. Click on the button below to proceed.</p>

    <p><a style="color: #ffffff; background-color: #854EA8; border-radius: 50px; margin: auto; width: 250px; height: 50px; text-decoration: none; display: inline-block; line-height: 50px; text-align: center; font-size: 20px; font-weight: bold;" href="{{ confirmationUrl }}">Reset my password</a></p>

    <p>If you have any questions, please get in touch with us at <a href="mailto:admin@secretflag.com">admin@secretflag.com</a>.</p>

    <p style="color: #854EA8;">Help spread the word and tell your friends about <a href="https://www.secretflag.com">secretflag.com</a>.</p>

    <p style="color: rgba(0, 0, 0, 0.7); font-size: 14px; margin-top: 40px;">If you did not request a password reset, you can safely ignore this email.</p>
</body>
{% endblock body_html %}

{% block body_text %}{% endblock body_text %}