/**
 * SecretFlag Stylesheet
 *
 * Stylesheet file for the preview home page
 */

.big-title {
    border-radius: 0;
    width: initial !important;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: -0.1rem;
}

@media (max-width: 360px) {
    .big-title {
        font-size: 1.5rem;
        font-weight: 100;
    }

    #subscribe p {
        font-size: 1rem;
    }
}

@media (min-width: 361px) and (max-width: 767px) {
    .big-title {
        font-size: 2.0rem;
        font-weight: 100;
    }

    #subscribe p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .big-title {
        font-size: 2.0rem;
        font-weight: 100;
    }

    #subscribe p {
        font-size: 1rem;
    }
}

@media (min-width: 1025px) {
    .big-title {
        font-size: 2.5rem;
        font-weight: 100;
    }

    #subscribe p {
        font-size: 1.5rem;
    }

    #subscribe {
        width: 80%;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

#subscribe {
    /*margin: 2rem auto 2rem auto;*/
    background: #fff;
    opacity: 0.9;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
}

#channels .channel-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 3px;
    font-size: 14px;
    width: 120px;
    height: 120px;
}

#channels .channel-button:hover,
#channels .channel-button.active {
    background-color: #ffffff;
    color: #832ff8;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -ms-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

#channels .channel-button i.fas,
#channels .channel-button i.fab {
    display: block;
    font-size: 50px !important;
    margin: 0.5rem;
}

#channels {
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

#channels .channel-blurb {
    padding: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
}

#channels #btn-mailing-list {
    -webkit-animation: bounceInDown 0.25s ease 0s;
    animation: bounceInDown 0.25s ease 0s;
}

#channels #btn-twitter {
    -webkit-animation: bounceInDown 0.25s ease 0.1s;
    animation: bounceInDown 0.25s ease 0.1s;
}

#channels #btn-instagram {
    -webkit-animation: bounceInDown 0.25s ease 0.2s;
    animation: bounceInDown 0.25s ease 0.2s;
}

#channels #btn-youtube {
    -webkit-animation: bounceInDown 0.25s ease 0.3s;
    animation: bounceInDown 0.25s ease 0.3s;
}

#channels .channel-blurb.ng-hide-remove {
    -webkit-animation: bounceInLeft 0.5s;
    animation: bounceInLeft 0.5s;
}

#yt-video-container iframe {
    /*border: solid 1rem rgba(255, 255, 255, 0.2);*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#shh-intro {
    -webkit-animation: bounceInRight 0.5s;
    animation: bounceInRight 0.5s;
}

#yt-video-container {
    border-radius: 5px;
    -webkit-animation: fadeIn 1.0s;
    animation: fadeIn 1.0s;
}