{#
    SecretFlag Twig Template:
    User Registration Form
#}

{% extends("@App/base_bs4.html.twig") %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/user/register.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/user/registration.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#{% include("meta/google.html.twig") %}#}
    <meta name="robots" content="noindex,nofollow">
    {% include("meta/fb.html.twig") %}
{% endblock meta_tags %}

{% block body %}
    <script type="text/ng-template" id="user_registration_form_template.html">
         <div class="form-start" ng-form="$ctrl.form" ng-if="!$ctrl.success">
            <p class="sf-text-weight-700 sf-bigger-text">Registration is easy</p>
            <div class="form-group position-relative">
                <label for="fullName">Full name</label>
                <input type="text" class="form-control" ng-class="{ 'is-valid': $ctrl.form.fullName.$valid, 'is-invalid': !$ctrl.form.fullName.$pristine && !$ctrl.form.fullName.$valid }" ng-model="$ctrl.user.full_name" name="fullName" id="fullName" placeholder="e.g. John Doe" ng-required="true">
                <div class="invalid-tooltip" ng-if="!$ctrl.form.fullName.$pristine && !$ctrl.form.fullName.$valid">Please let us know what your full name is</div>
            </div>
            <div class="form-group position-relative">
                <label for="email">Email address</label>
                <input type="email" class="form-control" ng-class="{ 'is-valid': $ctrl.form.email.$valid, 'is-invalid': !$ctrl.form.email.$pristine && !$ctrl.form.email.$valid }" ng-model="$ctrl.user.email" name="email" id="email" aria-describedby="emailHelp" placeholder="e.g. johndoe@secretflag.com" maxlength="180" ng-required="true">
                <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.required">You need to provide an email address to be able to log in</div>
                <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.email">This doesn't look like a valid email address to us <i class="far fa-frown"></i></div>
                <div class="invalid-tooltip" ng-if="$ctrl.form.email.$error.dupe">We seem to already have an account for you. If you have forgotten your password...</div>
                <small id="emailHelp" class="form-text text-muted">This will be used to identify you and log you in.</small>
            </div>
            <div class="form-group position-relative">
                <label for="password1">Password</label>
                <input type="password" class="form-control" ng-class="{ 'is-valid': $ctrl.form.password1.$valid, 'is-invalid': !$ctrl.form.password1.$pristine && !$ctrl.form.password1.$valid }" ng-model="$ctrl.user.password" name="password1" id="password1" placeholder="Password" ng-required="true">
                <div class="invalid-tooltip" ng-if="!$ctrl.form.password1.$pristine && $ctrl.form.password1.$error.required">We need a password for you so you can log in</div>
            </div>
            <div class="form-group position-relative">
                <label for="password2">Confirm your password</label>
                <input type="password" class="form-control" ng-class="{ 'is-valid': $ctrl.form.password2.$valid, 'is-invalid': !$ctrl.form.password2.$pristine && !$ctrl.form.password2.$valid }" ng-model="$ctrl.user.password_confirm" name="password2" id="password2" placeholder="Enter your password again" ng-required="true">
                <div class="invalid-tooltip" ng-if="!$ctrl.form.password2.$pristine && $ctrl.form.password2.$error.required">Please confirm your password by re-entering it here</div>
                <div class="invalid-tooltip" ng-if="!$ctrl.form.password2.$pristine && $ctrl.form.password2.$error.mismatch">You may need to re-confirm your passwords as they don't seem to match</div>
            </div>
            <div><p>Date of Birth</p></div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="birthDay">Day</label>
                    <select id="birthDay" class="form-control form-control-lg" ng-class="{ 'is-valid': $ctrl.form.birthDay.$valid, 'is-invalid': !$ctrl.form.birthDay.$pristine && !$ctrl.form.birthDay.$valid }" ng-model="$ctrl.user.birth_day" name="birthDay" ng-required="true">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.birthDay.$pristine && $ctrl.form.birthDay.$error.required">You need to provide your day of birth</div>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.birthDay.$pristine && $ctrl.form.birthDay.$error.invalid_day">Your birth date does not appear to exist</div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="birthMonth">Month</label>
                    <select id="birthMonth" class="form-control form-control-lg" ng-class="{ 'is-valid': $ctrl.form.birthMonth.$valid, 'is-invalid': !$ctrl.form.birthMonth.$pristine && !$ctrl.form.birthMonth.$valid }" ng-model="$ctrl.user.birth_month" name="birthMonth" ng-required="true">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.birthMonth.$pristine && $ctrl.form.birthMonth.$error.required">You need to provide your month of birth</div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="birthYear">Year</label>
                    <select id="birthYear" class="form-control form-control-lg" ng-class="{ 'is-valid': $ctrl.form.birthYear.$valid, 'is-invalid': !$ctrl.form.birthYear.$pristine && !$ctrl.form.birthYear.$valid }" ng-model="$ctrl.user.birth_year" name="birthYear" ng-required="true">
                        {% for y in 2010..1910 %}
                        <option value="{{ y }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.birthYear.$pristine && $ctrl.form.birthYear.$error.required">You need to provide your year of birth</div>
                </div>
            </div>
            <div class="text-center btn-row">
                <button type="button" class="btn btn-primary btn-lg" ng-class="{ 'disabled': !$ctrl.form.$valid }" ng-disabled="!$ctrl.form.$valid || $ctrl.submitting" ng-click="$ctrl.submitRegistration()">
                    <span ng-if="!$ctrl.submitting"><i class="fas fa-signature"></i> Sign me up!</span>
                    <span ng-if="$ctrl.submitting"><i class="fas fa-spinner fa-pulse"></i> We are signing you up...</span>
                </button>
            </div>
            <div class="mt-3 alert alert-danger" role="alert" ng-if="$ctrl.error">
                <h4 class="alert-heading">Oops... looks like something has gone wrong.</h4>
                <p ng-bind="$ctrl.error"></p>
            </div>
        </div>
        <div class="registration-success text-center" ng-if="$ctrl.success">
            <div class="mb-4 mt-4">
                <i class="fas fa-check-circle fa-8x text-success"></i>
            </div>
            <h3 class="mb-2">You have taken <strong>the first step</strong>!</h3>
            <p class="mb-4">We need you to verify your email address before you can log in so check your email now and click the verification button so we know you are who you say you are.</p>
        </div>
    </script>
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <div class="registration-form content">
            <h1>Create your account</h1>

            <user-registration class="text-left"></user-registration>
        </div>


        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
