{#
    SecretFlag Twig Template:
    Page displaying the result of a user registration verification
#}

{% extends '@App/base_bs4.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/user/verification.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#{% include("meta/google.html.twig") %}#}
    <meta name="robots" content="noindex,nofollow">
{% endblock meta_tags %}

{% block body %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <main role="main" class="inner cover">
            <div class="row w-100">
                <div class="col-lg-2 hidden-md-down"></div>
                <div class="col-lg-8 col-md-12">
                    <div class="big-title text-center w-100" id="shh-intro">
                        {{ message }}
                    </div>
                    <div class="channel-blurb">
                        click <a href="{{ absolute_url(path('homepage')) }}">here</a> to go back home
                    </div>
                </div>
                <div class="col-lg-2 hidden-md-down"></div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                        feel free to send us an email at <i class="fas fa-pen"></i> <a href="mailto:admin@secretflag.com">admin@secretflag.com</a> to have a one-on-one conversation
                    </div>
                </div>
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}