/**
 * SecretFlag Stylesheet
 *
 * Main stylesheet file covering the entire app
 */

/**/

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    font-family: 'Comfortaa', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-transition: background 1.5s linear;
    -moz-transition: background 1.5s linear;
    -ms-transition: background 1.5s linear;
    -o-transition: background 1.5s linear;
    transition: background 1.5s linear;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #151722, #65677c);

    /*background-image: url("{{ asset('img/bg/bg-experience-01.jpg') }}");*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}

/*
 * Header
 */
.masthead {
    background: url("../img/logo/sf-logo-04.png") center/auto 100px no-repeat;
    background-color: #ffffff;
    min-height: 140px;
    margin-bottom: 2rem;
    border-top: solid 5px #823ff8;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.user-bubble {
    border-radius: 100%;
    background-color: #823ff8;
    color: #ffffff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    position: relative;
}

.user-bubble.invert {
    background: none !important;
    color: #823ff8 !important;
}

.user-bubble:before,
.user-bubble:after {
    display: none !important;
}

.user-bubble-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin: auto;
    width: 140px;
}

.dropdown-menu .dropdown-item:hover {
    cursor: pointer !important;
}

@media (min-width: 48em) {
    .nav-masthead {
        float: right;
    }
}

@media (max-width: 360px) {
    .masthead {
        -webkit-background-size: auto 60px;
        background-size: auto 60px;
        min-height: 80px !important;
    }

    .user-bubble {
        font-size: 18px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .user-bubble-menu {
        font-size: 12px !important;
        width: 80px !important;
    }
}

@media (min-width: 361px) and (max-width: 767px) {
    .masthead {
        -webkit-background-size: auto 60px;
        background-size: auto 60px;
        min-height: 80px !important;
    }

    .user-bubble {
        font-size: 18px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .user-bubble-menu {
        font-size: 12px !important;
        width: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .masthead {
        -webkit-background-size: auto 80px;
        background-size: auto 80px;
        min-height: 100px !important;
    }
}

@media (min-width: 1025px) {
}

/*
 * Footer
 */
.mastfoot {
    color: #ffffff;
    padding: 1rem 0 1rem 0;
}

.preview-coming-soon-in .coming-soon-text {
    font-weight: 100;
}

/**
 * Animating entry using AngularJS
 */
div.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.sf-green-text {
    color: #64d148;
}

.sf-text-weight-700 {
    font-weight: 700;
}

.sf-text-weight-500 {
    font-weight: 500;
}

.sf-text-weight-400 {
    font-weight: 400;
}

.sf-text-weight-300 {
    font-weight: 300;
}

.sf-text-weight-200 {
    font-weight: 200;
}

.sf-text-weight-100 {
    font-weight: 100;
}

.sf-bigger-text {
    font-size: 1.5em;
}

.purple-text {
    color: #4c2b7c !important;
}

strong {
    font-weight: 900;
}