{# This file is part of the PreviewBundle #}
{# Contains the email template for a post-subscription thank you message #}

<body style="font-family: 'Helvetica', 'Arial', sans-serif;">
    <p style="font-size: 14pt; color: #854EA8;">Did you subscribe to SecretFlag? <b>Thank you!</b></p>

    <p>Over the next few months we will keep you informed of developments and achievements as we build the first release of our community marketplace before the year’s end.</p>

    <p>If you're worried that you may be spammed with too many emails, we promise to only send updates of milestones reached.</p>

    <p>From time to time, we may ask you questions to help guide what we are building. This is going to be <b>your marketplace</b> after all so if you have any ideas let us know via <a href="mailto:admin@secretflag.com">admin@secretflag.com</a>.</p>

    <p style="font-size: 14pt; color: #854EA8;">Help spread the word and tell your friends about <a href="https://www.secretflag.com">secretflag.com</a>.</p>

    <p><i>If you did not subscribe and you received this email in error, unsubscribe from <a href="{{ absolute_url(path('preview.unsubscribe', { id: subscription.id, token: subscription.validationToken|url_encode })) }}">here</a>.</i></p>
</body>