{#
    SecretFlag Twig Template:
    Login form
#}

{% extends("@App/base_bs4.html.twig") %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/user/login.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#{% include("meta/google.html.twig") %}#}
    <meta name="robots" content="noindex,nofollow">
    {% include("meta/fb.html.twig") %}
{% endblock meta_tags %}

{% block body %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <div class="login-form content" ng-controller="LoginController as $ctrl">
            <h1>Log in to SecretFlag</h1>

            <div class="form-start text-left" ng-form="$ctrl.form">
                <div class="form-group position-relative">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" ng-class="{ 'is-valid': $ctrl.form.email.$valid, 'is-invalid': !$ctrl.form.email.$pristine && !$ctrl.form.email.$valid }" ng-model="$ctrl.user.email" name="email" id="email" aria-describedby="emailHelp" placeholder="e.g. johndoe@secretflag.com" maxlength="180" ng-required="true">
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.required">You need to provide an email address to be able to log in</div>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.email">This doesn't look like a valid email address to us <i class="far fa-frown"></i></div>
                </div>
                <div class="form-group position-relative">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" ng-class="{ 'is-valid': $ctrl.form.password.$valid, 'is-invalid': !$ctrl.form.password.$pristine && !$ctrl.form.password.$valid }" ng-model="$ctrl.user.password" name="password" id="password" placeholder="Password" ng-required="true">
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.password.$pristine && $ctrl.form.password.$error.required">We need a password for you so you can log in</div>
                </div>
                <div class="text-center btn-row">
                    <button type="button" class="btn btn-primary btn-lg" ng-class="{ 'disabled': !$ctrl.form.$valid }" ng-disabled="!$ctrl.form.$valid || $ctrl.submitting" ng-click="$ctrl.login()" ng-if="!$ctrl.success">
                        <span ng-if="!$ctrl.submitting"><i class="fas fa-sign-in-alt"></i> Log me in</span>
                        <span ng-if="$ctrl.submitting"><i class="fas fa-spinner fa-pulse"></i> We are logging you in...</span>
                    </button>
                    <div class="mb-4 mt-4" ng-if="$ctrl.success">
                        <i class="fas fa-check-circle fa-4x text-success"></i>
                    </div>
                    <div class="mt-4" ng-if="!$ctrl.success">
                        <a href="{{ absolute_url(path('fos_user_resetting_request')) }}">
                            <i class="far fa-question-circle"></i> I have forgotten my password
                        </a>
                    </div>
                </div>
                <div class="mt-3 alert alert-danger" role="alert" ng-if="$ctrl.error">
                    <h4 class="alert-heading">Oops... looks like something has gone wrong.</h4>
                    <p ng-bind="$ctrl.error"></p>
                </div>
            </div>
        </div>


        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
