{#
    SecretFlag Twig Template:
    Request password reset form
#}

{% extends("@App/base_bs4.html.twig") %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/user/reset.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#{% include("meta/google.html.twig") %}#}
    <meta name="robots" content="noindex,nofollow">
    {% include("meta/fb.html.twig") %}
{% endblock meta_tags %}

{% block body %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <div class="login-form content" ng-controller="ResetController as $ctrl" data-password-reset-url="{{ absolute_url(path('fos_user_resetting_send_email')) }}">
            <h1>Oops... forgot your password?</h1>

            <div class="form-start text-left" ng-form="$ctrl.form">
                <p class="sf-text-weight-700 sf-bigger-text" ng-if="!$ctrl.success">No worries - simply enter your email address below and we will send you an email with further steps.</p>
                <div class="form-group position-relative" ng-if="!$ctrl.success">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" ng-class="{ 'is-valid': $ctrl.form.email.$valid, 'is-invalid': !$ctrl.form.email.$pristine && !$ctrl.form.email.$valid }" ng-model="$ctrl.user.email" name="email" id="email" aria-describedby="emailHelp" placeholder="e.g. johndoe@secretflag.com" maxlength="180" ng-required="true">
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.required">You need to provide an email address to be able to log in</div>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.email.$pristine && $ctrl.form.email.$error.email">This doesn't look like a valid email address to us <i class="far fa-frown"></i></div>
                </div>
                <div class="text-center btn-row" ng-if="!$ctrl.success">
                    <button type="button" class="btn btn-primary btn-lg" ng-class="{ 'disabled': !$ctrl.form.$valid }" ng-disabled="!$ctrl.form.$valid || $ctrl.submitting" ng-click="$ctrl.request()" ng-if="!$ctrl.success">
                        <span ng-if="!$ctrl.submitting"><i class="fas fa-check-circle-o"></i> Reset my password</span>
                        <span ng-if="$ctrl.submitting"><i class="fas fa-spinner fa-pulse"></i> Please wait...</span>
                    </button>
                </div>
                <div class="registration-success text-center" ng-if="$ctrl.success">
                    <div class="mb-4 mt-4">
                        <i class="fas fa-check-circle fa-4x text-success"></i>
                    </div>
                    <h3 class="mb-2">Check your email!</h3>
                    <p class="mb-4">We have now sent you an email with instructions on how you can reset your SecretFlag password.</p>
                </div>
                <div class="mt-3 alert alert-danger" role="alert" ng-if="$ctrl.error">
                    <h4 class="alert-heading">Oops... looks like something has gone wrong.</h4>
                    <p ng-bind="$ctrl.error"></p>
                </div>
            </div>
        </div>


        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
