{#
    SecretFlag Twig Template:
    Password reset form
#}

{% extends("@App/base_bs4.html.twig") %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/user/reset.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#{% include("meta/google.html.twig") %}#}
    <meta name="robots" content="noindex,nofollow">
    {% include("meta/fb.html.twig") %}
{% endblock meta_tags %}

{% block body %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <div class="login-form content" ng-controller="PasswordResetController as $ctrl">
            <h1>Let's reset your password</h1>

            <form name="$ctrl.form" method="POST" action="{{ absolute_url(path('fos_user_resetting_reset', { token: token })) }}" class="form-start text-left" ng-submit="$ctrl.submitting = true;">
                <p class="sf-text-weight-700 sf-bigger-text" ng-if="!$ctrl.success">Forgot your password? No worries - simply enter a new password using the form below.</p>
                <div class="form-group position-relative" ng-if="!$ctrl.success">
                    <label for="password1">New Password</label>
                    <input type="password" class="form-control" ng-class="{ 'is-valid': $ctrl.form.password1.$valid, 'is-invalid': !$ctrl.form.password1.$pristine && !$ctrl.form.password1.$valid }" ng-model="$ctrl.user.password" name="fos_user_resetting_form[plainPassword][first]" id="password1" placeholder="Password" ng-required="true">
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.password1.$pristine && $ctrl.form.password1.$error.required">We need a password for you so you can log in</div>
                </div>
                <div class="form-group position-relative" ng-if="!$ctrl.success">
                    <label for="password2">Confirm your new password</label>
                    <input type="password" class="form-control" ng-class="{ 'is-valid': $ctrl.form.password2.$valid, 'is-invalid': !$ctrl.form.password2.$pristine && !$ctrl.form.password2.$valid }" ng-model="$ctrl.user.password_confirm" name="fos_user_resetting_form[plainPassword][second]" id="password2" placeholder="Enter your password again" ng-required="true">
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.password2.$pristine && $ctrl.form.password2.$error.required">Please confirm your password by re-entering it here</div>
                    <div class="invalid-tooltip" ng-if="!$ctrl.form.password2.$pristine && $ctrl.form.password2.$error.mismatch">You may need to re-confirm your passwords as they don't seem to match</div>
                </div>
                <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="{{ csrf_token('resetting') }}">
                <div class="text-center btn-row" ng-if="!$ctrl.success">
                    <button type="submit" class="btn btn-primary btn-lg" ng-class="{ 'disabled': !$ctrl.form.$valid }" ng-disabled="!$ctrl.form.$valid || $ctrl.submitting" ng-if="!$ctrl.success">
                        <span ng-if="!$ctrl.submitting"><i class="fas fa-check-circle-o"></i> Reset my password</span>
                        <span ng-if="$ctrl.submitting"><i class="fas fa-spinner fa-pulse"></i> Please wait...</span>
                    </button>
                </div>
            </form>
        </div>


        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
