{# Template bit to be included within meta blocks for OpenGraph (Facebook) sharing #}

<meta property="og:url"                content="https://secretflag.com" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="secretflag - more than just an experience, it's belonging" />
<meta property="og:description"        content="Go and book more meaningful adventures in unfamiliar cities at secretflag. Search a global list of locals with secrets to share & feel like you really belong as you travel. Safety & trust are paramount. All users verified with strict and reliable Know Your Customer (KYC) process." />
<meta property="og:image"              content="https://secretflag.com/img/fb.png" />
<meta property="og:image:secure_url"   content="https://secretflag.com/img/fb.png" />
<meta property="og:image:type"         content="image/png" />
<meta property="og:image:width"        content="1080" />
<meta property="og:image:height"       content="597" />
<meta property="og:locale"             content="en_AU" />