{# This file is part of the PreviewBundle #}
{# Template file for displaying the preview page #}

{% extends '@App/base_bs4.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <style>
        /*
         * Globals
         */

        /* Links */
        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }


        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
            background-color: #333;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            -webkit-transition: background 1.5s linear;
            -moz-transition: background 1.5s linear;
            -ms-transition: background 1.5s linear;
            -o-transition: background 1.5s linear;
            transition: background 1.5s linear;
            font-family: 'Comfortaa', sans-serif;
        }

        .sf-background {
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
        }

        .sf-background.bg-01 {
            background-image: url("{{ asset('bundles/app/img/preview/01.jpg') }}");
        }

        .sf-background.bg-02 {
            background-image: url("{{ asset('bundles/app/img/preview/02.jpg') }}");
        }

        .sf-background.bg-03 {
            background-image: url("{{ asset('bundles/app/img/preview/03.jpg') }}");
        }

        .sf-background.bg-04 {
            background-image: url("{{ asset('bundles/app/img/preview/04.jpg') }}");
        }

        .sf-background.bg-05 {
            background-image: url("{{ asset('bundles/app/img/preview/05.jpg') }}");
        }

        .sf-background.bg-06 {
            background-image: url("{{ asset('bundles/app/img/preview/06.jpg') }}");
        }

        .sf-background.bg-07 {
            background-image: url("{{ asset('bundles/app/img/preview/07.jpg') }}");
        }

        .cover-container {
            max-width: 42em;
        }


        /*
         * Header
         */
        .masthead {
            {#background-color: #ffffff;#}
            {#background-image: url("{{ asset('bundles/preview/img/sf-logo.svg') }}");#}
            {#background-position: 30px 30px;#}
            {#background-repeat: no-repeat;#}
            {#background-size: auto 50px;#}
            {#background-image: url("{{ asset('bundles/preview/img/sf-logo-02.svg') }}");#}
            {#background-position: 5px 5px;#}
            {#background-repeat: no-repeat;#}
            {#background-size: auto 90px;#}
            /*min-height: 100px;*/
            background: #ffffff url("{{ asset('/bundles/preview/img/sf-logo.png') }}") center/auto 100px no-repeat;
            min-height: 140px;
            opacity: 0.9;
            /*margin-bottom: 2rem;*/
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        .big-title {
            background: #fff;
            color: #854ea8;
            border-radius: 0;
            margin: 0 -1.5rem 0.5em -1.5rem;
            width: initial !important;
            /*border-bottom-left-radius: 50% !important;*/
            border-bottom-right-radius: 50% !important;
            opacity: 0.9;
            font-family: 'Cabin Sketch', 'Comfortaa', sans-serif;
        }

        .tagline {
            font-family: 'Cabin Sketch', 'Comfortaa', sans-serif;
            color: #854ea8;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }

        @media (max-width: 360px) {
            .sf-logo-text {
                font-size: 1.5rem;
            }

            .sf-logo-tagline {
                font-size: 0.4rem;
                letter-spacing: 0.25rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.75rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 3em;
                font-weight: 100;
                padding: 0.25em;
                border-radius: 5px;
                margin-bottom: 0.25em;
            }

            .masthead {
                -webkit-background-size: auto 50px;
                background-size: auto 50px;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 361px) and (max-width: 767px) {
            .sf-logo-text {
                font-size: 2rem;
            }

            .sf-logo-tagline {
                font-size: 0.5rem;
                letter-spacing: 0.3rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.75rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 3em;
                font-weight: 100;
                padding: 0.25em;
                border-radius: 5px;
                margin-bottom: 0.25em;
            }

            .masthead {
                -webkit-background-size: auto 50px;
                background-size: auto 50px;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .sf-logo-text {
                font-size: 4rem;
            }

            .sf-logo-tagline {
                font-size: 0.9rem;
                letter-spacing: 0.6rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 1rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2.5rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 3em;
                font-weight: 100;
                padding: 0.25em;
                border-radius: 5px;
                margin-bottom: 0.25em;
            }

            .masthead {
                -webkit-background-size: auto 50px;
                background-size: auto 50px;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 1025px) {
            .sf-logo-text {
                font-size: 5.25rem;
            }

            .sf-logo-tagline {
                letter-spacing: 0.9rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 1.5rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 3.5rem;
                margin-top: -2rem;
            }

            .big-title {
                font-size: 3.5em;
                font-weight: 100;
                padding: 0.5em;
                border-radius: 5px;
                margin-bottom: 0.5em;
            }

            #description {
                margin: 3rem 10rem !important;
            }

            #subscribe p {
                font-size: 1.5rem;
            }
        }

        /*
         * Cover
         */
        .cover {
            padding: 0 1.5rem;
        }
        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }


        /*
         * Footer
         */
        .mastfoot {
            /*color: rgba(255, 255, 255, .5);*/
            color: #854ea8;
            background-color: #ffffff;
            opacity: 0.9;
            padding-top: 1.5rem;
            border-top-left-radius: 50%;
        }

        .dark-overlay {
            background-color: #fff;
            opacity: 0.8;
        }

        /*
         * Symfony-related styles
         */
        .sf-logo-text {
            /*font-size: 5.25rem;*/
            font-weight: 100;
            letter-spacing: 5px;
        }

        .sf-logo-tagline {
            text-transform: uppercase;
            font-weight: 400;
            /*letter-spacing: 15px;*/
            margin-top: -10px;
            opacity: 0.5;
        }

        .preview-coming-soon-in {
            /*margin-top: 120px;*/
        }

        .preview-coming-soon-in .coming-soon-text {
            /*font-size: 1.5rem;*/
            font-weight: 100;
            opacity: 0.5;
        }

        .preview-coming-soon-in .coming-soon-year {
            /*font-size: 3.5rem;*/
            /*margin-top: -2rem;*/
            opacity: 0.7;
        }

        #intro {
            margin: 0 -2.5rem 0 -2.5rem;
            /*padding: 0 2.5rem 0 2.5rem;*/
            /*min-height: 600px;*/
            /*color: #333333;*/
            /*background-color: #ffffff;*/
            /*opacity: 0.7;*/
            background-image: url("{{ asset('bundles/preview/img/article-bg-02.jpg') }}");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }

        #intro #blurb {
            padding: 0 2.5rem 0 2.5rem;
            background-color: #ffffff;
            opacity: 1;
            min-height: 300px;
        }

        #intro h1 {
            color: #333333;
            text-transform: lowercase;
            font-weight: 100;
            font-size: 3rem;
            letter-spacing: 0.05rem;
        }

        #intro p {
            color: #666666;
            font-size: 1.2rem;
        }

        div.ng-enter {
            -webkit-animation: fadeIn 0.5s;
            animation: fadeIn 0.5s;
        }

        /*div.ng-leave {*/
            /*-webkit-animation: fadeOut 0.5s;*/
            /*animation: fadeOut 0.5s;*/
        /*}*/

        .thank-you {
            font-size: 1.25em;
            font-weight: 300;
        }

        .sf-green-text {
            color: rgba(60, 120, 60, 1.0);
        }

        .sf-text-weight-700 {
            font-weight: 700;
        }

        .sf-text-weight-500 {
            font-weight: 500;
        }

        .sf-text-weight-400 {
            font-weight: 400;
        }

        .sf-text-weight-300 {
            font-weight: 300;
        }

        .sf-text-weight-200 {
            font-weight: 200;
        }

        .sf-text-weight-100 {
            font-weight: 100;
        }

        .sf-bigger-text {
            font-size: 1.5em;
        }

        .blurb {
            color: #4c2b7c;
        }

        strong {
            font-weight: 900;
        }

        #subscribe {
            margin: 2rem 0rem 2rem 0rem;
            background: #fff;
            opacity: 0.9;
            padding: 1rem 0 1rem 0;
            border-radius: 10px;
        }

    </style>
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            /**
             * jQ document ready
             */
            $(function() {
                var bg = [ '01', '02', '03', '04', '05', '06', '07' ];
                var curIndex = 0, prevIndex = 0;

                // default background
                $('.sf-background.bg-01').addClass('animated fadeIn');
                // swap bg every 5s
                var interval = setInterval(function() {
                    $('.sf-background').removeClass('animated');
                    $('.sf-background').removeClass('fadeOut');
                    $('.sf-background').removeClass('fadeIn');

                    curIndex++;
                    curIndex = curIndex % bg.length;

                    $('.sf-background.bg-' + bg[prevIndex]).addClass('animated fadeOut');
                    $('.sf-background.bg-' + bg[curIndex]).addClass('animated fadeIn');

                    prevIndex = curIndex;
                }, 5000);
            });
        })();
    </script>

    <!-- subscription component -->
    <script type="text/javascript" src="{{ asset('bundles/preview/js/components/subscription.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <!-- stop crawl for now -->
    <meta name="robots" content="noindex">
{% endblock meta_tags %}

{% block body %}
    {% include("@Preview/templates/subscription.html.twig") %}

    {# series of background images #}
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-01">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-02">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-03">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-04">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-05">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-06">
    </div>
    <div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-07">
    </div>
    <div class="dark-overlay position-fixed w-100 h-100">
    </div>
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        <header class="masthead">
            {#<div class="inner">#}
                {#<h1 class="cover-heading sf-logo-text">SECRET <i class="fas fa-globe-asia"></i> FLAG</h1>#}
                {#<p class="sf-logo-tagline">#}
                    {#The world just got smaller#}
                {#</p>#}
            {#</div>#}
        </header>

        <main role="main" class="inner cover">
            <div class="big-title text-center w-100">
                shhhh... want to know a secret?
            </div>
            <section id="shh-intro" class="blurb sf-bigger-text">
                <p class="sf-text-weight-400">
                    Secretflag is a community marketplace where <strong>PEOPLE</strong> are the assets. Yes, people. That means, <strong>YOU</strong>!
                </p>
                <p class="sf-text-weight-300">
                    You don’t need a room to rent or have a car to drive in order to get paid. You don’t even need special skills to get started.
                </p>
                <p class="sf-text-weight-700">
                    Just be open to sharing your secrets with others.
                </p>
            </section>

            <section id="subscribe">
                <div class="w-100">
                    <p class="sf-green-text sf-text-weight-100">If you want to know more subscribe below and we’ll keep you informed as we embark on our journey to build <strong>our</strong> future.</p>
                </div>
                <div class="w-50 m-auto">
                    <preview-subscription></preview-subscription>
                </div>
            </section>

            <section id="description" class="blurb m-auto">
                <p>
                    There are things about your city visitors don’t know about. They may only get their information from websites, magazines or blogs. <strong>You can now share your community with others. And giving it your personal touch.</strong>
                </p>
                <p>
                    Think of SecretFlag as making yourself and your knowledge available to future friends. Take them around hidden places. Show life in your neighbour from your perspective. Invite them as your ‘plus one’ to exclusive spots. Be their host during special events.
                </p>
                <p class="sf-text-weight-700">
                    The possibilities of what you can offer to someone are as endless as the things you already do yourself. Why not show someone the world you see?
                </p>
                <p class="tagline sf-bigger-text">
                    SecretFlag &ndash; More than just an experience, it’s belonging.
                </p>
            </section>
            {#<h1 class="cover-heading sf-logo-text">SECRET <i class="fas fa-globe-asia"></i> FLAG</h1>#}
            {#<p class="sf-logo-tagline">#}
                {#The world just got smaller#}
            {#</p>#}
            {#<div class="preview-coming-soon-in">#}
                {#<p class="coming-soon-text">Coming soon</p>#}
                {#<p class="coming-soon-year">2019</p>#}
            {#</div>#}
            {#<article id="intro" class="d-flex flex-row justify-content-end">#}
                {#<section id="blurb" class="d-flex flex-column justify-content-center w-50 h-100">#}
                    {#<h1>a new experience</h1>#}
                    {#<p>#}
                        {#Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.#}
                    {#</p>#}
                {#</section>#}
            {#</article>#}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <p class="coming-soon-text">Follow us soon on social media</p>
                    {#<p class="coming-soon-year">Coming in 2019</p>#}
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}