{# This file is part of the PreviewBundle #}
{# Template file for displaying the preview page #}

{% extends '@App/base_bs4.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/preview/preview.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <!-- subscription component -->
    <script type="text/javascript" src="{{ asset('bundles/preview/js/components/subscription.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include("meta/google.html.twig") %}
    {% include("meta/fb.html.twig") %}
{% endblock meta_tags %}

{% block body %}
    {% include("@Preview/templates/subscription.html.twig") %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        {% include("base_header.html.twig") %}

        <main role="main" class="inner cover">
            <div class="row w-100">
                <div class="col-lg-2 hidden-md-down"></div>
                <div class="col-lg-8 col-md-12">
                    <div class="big-title text-center w-100" id="shh-intro">
                        shhhh... want to know what we're building?
                    </div>
                    <section id="yt-video" class="m-auto">
                        <div id="yt-video-container" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ByAJ0OugOg?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <preview-subscription class="w-100"></preview-subscription>
                    </section>
                </div>
                <div class="col-lg-2 hidden-md-down"></div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}