{# This file is part of the PreviewBundle #}
{# Template file for displaying the preview page #}

{% extends '@App/base_bs4.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <style>
        /*
         * Globals
         */

        /* Links */
        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }


        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
            /*background-color: #333;*/
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #ffffff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
            -webkit-transition: background 1.5s linear;
            -moz-transition: background 1.5s linear;
            -ms-transition: background 1.5s linear;
            -o-transition: background 1.5s linear;
            transition: background 1.5s linear;
            font-family: 'Comfortaa', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            background-image: url("{{ asset('bundles/preview/img/travel-bg-' ~ bg ~ '.jpg') }}");
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
            /*background-color: #e4d7ed;*/
            /*background-color: #009900;*/
        }

        .sf-background {
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
        }

        .sf-background.bg-01 {
            background-image: url("{{ asset('bundles/app/img/preview/01.jpg') }}");
        }

        .sf-background.bg-02 {
            background-image: url("{{ asset('bundles/app/img/preview/02.jpg') }}");
        }

        .sf-background.bg-03 {
            background-image: url("{{ asset('bundles/app/img/preview/03.jpg') }}");
        }

        .sf-background.bg-04 {
            background-image: url("{{ asset('bundles/app/img/preview/04.jpg') }}");
        }

        .sf-background.bg-05 {
            background-image: url("{{ asset('bundles/app/img/preview/05.jpg') }}");
        }

        .sf-background.bg-06 {
            background-image: url("{{ asset('bundles/app/img/preview/06.jpg') }}");
        }

        .sf-background.bg-07 {
            background-image: url("{{ asset('bundles/app/img/preview/07.jpg') }}");
        }

        .cover-container {
            max-width: 42em;
        }


        /*
         * Header
         */
        .masthead {
            {#background-color: #ffffff;#}
            {#background-image: url("{{ asset('bundles/preview/img/sf-logo.svg') }}");#}
            {#background-position: 30px 30px;#}
            {#background-repeat: no-repeat;#}
            {#background-size: auto 50px;#}
            {#background-image: url("{{ asset('bundles/preview/img/sf-logo-02.svg') }}");#}
            {#background-position: 5px 5px;#}
            {#background-repeat: no-repeat;#}
            {#background-size: auto 90px;#}
            /*min-height: 100px;*/
            {#background: url("{{ asset('/bundles/preview/img/sf-logo-04.png') }}") center/auto 100px no-repeat, url("{{ asset('/bundles/preview/img/header-bg-04.jpg') }}") top/cover no-repeat;#}
            background: url("{{ asset('/bundles/preview/img/sf-logo-04.png') }}") center/auto 100px no-repeat;
            /*background-color: #ffffff;*/
            min-height: 140px;
            margin-bottom: 2rem;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        .big-title {
            border-radius: 0;
            width: initial !important;
            font-family: 'Comfortaa', sans-serif;
            letter-spacing: -0.1rem;
        }

        .tagline {
            font-family: 'Cabin Sketch', 'Comfortaa', sans-serif;
            color: #ffffff;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }

        @media (max-width: 360px) {
            .sf-logo-text {
                font-size: 1.5rem;
            }

            .sf-logo-tagline {
                font-size: 0.4rem;
                letter-spacing: 0.25rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.7rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 1.5rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 80px;
                background-size: auto 80px;
                min-height: 100px !important;
                background-position-x: center !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 361px) and (max-width: 767px) {
            .sf-logo-text {
                font-size: 2rem;
            }

            .sf-logo-tagline {
                font-size: 0.5rem;
                letter-spacing: 0.3rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.7rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 2.0rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 80px;
                background-size: auto 80px;
                min-height: 100px !important;
                background-position-x: center !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .sf-logo-text {
                font-size: 4rem;
            }

            .sf-logo-tagline {
                font-size: 0.9rem;
                letter-spacing: 0.6rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.8rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2.5rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 2.0rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 80px;
                background-size: auto 80px;
                min-height: 100px !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 1025px) {
            .sf-logo-text {
                font-size: 5.25rem;
            }

            .sf-logo-tagline {
                letter-spacing: 0.9rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 1rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 3.5rem;
                margin-top: -2rem;
            }

            .big-title {
                font-size: 2.5rem;
                font-weight: 100;
            }

            #description {
                margin: 3rem 10rem !important;
            }

            #subscribe p {
                font-size: 1.5rem;
            }

            #subscribe {
                width: 80%;
            }
        }

        /*
         * Cover
         */
        .cover {
            padding: 0 1.5rem;
        }
        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }


        /*
         * Footer
         */
        .mastfoot {
            /*color: rgba(255, 255, 255, .5);*/
            color: #ffffff;
            /*background-color: #817789;*/
            /*opacity: 0.9;*/
            padding: 1rem 0 1rem 0;
        }

        .mastfoot .fab {
            margin: 0 2rem 0 2rem;
        }

        .mastfoot .icons {
            margin-left: 2rem;
            border-left: solid 1px #ffffff;
        }

        .dark-overlay {
            background-color: #000000;
            opacity: 0.2;
        }

        /*
         * Symfony-related styles
         */
        .sf-logo-text {
            /*font-size: 5.25rem;*/
            font-weight: 100;
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            letter-spacing: 5px;
        }

        .sf-logo-tagline {
            text-transform: uppercase;
            font-weight: 400;
            /*letter-spacing: 15px;*/
            margin-top: -10px;
            opacity: 0.5;
        }

        .preview-coming-soon-in {
            /*margin-top: 120px;*/
        }

        .preview-coming-soon-in .coming-soon-text {
            /*font-size: 1.5rem;*/
            font-weight: 100;
            /*opacity: 0.5;*/
        }

        .preview-coming-soon-in .coming-soon-year {
            /*font-size: 3.5rem;*/
            /*margin-top: -2rem;*/
            opacity: 0.7;
        }

        #intro {
            margin: 0 -2.5rem 0 -2.5rem;
            /*padding: 0 2.5rem 0 2.5rem;*/
            /*min-height: 600px;*/
            /*color: #333333;*/
            /*background-color: #ffffff;*/
            /*opacity: 0.7;*/
            background-image: url("{{ asset('bundles/preview/img/article-bg-02.jpg') }}");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }

        #intro #blurb {
            padding: 0 2.5rem 0 2.5rem;
            background-color: #ffffff;
            opacity: 1;
            min-height: 300px;
        }

        #intro h1 {
            color: #333333;
            text-transform: lowercase;
            font-weight: 100;
            font-size: 3rem;
            letter-spacing: 0.05rem;
        }

        #intro p {
            color: #666666;
            font-size: 1.2rem;
        }

        div.ng-enter {
            -webkit-animation: fadeIn 0.5s;
            animation: fadeIn 0.5s;
        }

        /*div.ng-leave {*/
            /*-webkit-animation: fadeOut 0.5s;*/
            /*animation: fadeOut 0.5s;*/
        /*}*/

        .thank-you {
            font-weight: 300;
        }

        .sf-green-text {
            color: #64d148;
        }

        .sf-text-weight-700 {
            font-weight: 700;
        }

        .sf-text-weight-500 {
            font-weight: 500;
        }

        .sf-text-weight-400 {
            font-weight: 400;
        }

        .sf-text-weight-300 {
            font-weight: 300;
        }

        .sf-text-weight-200 {
            font-weight: 200;
        }

        .sf-text-weight-100 {
            font-weight: 100;
        }

        .sf-bigger-text {
            font-size: 1.5em;
        }

        .blurb {
            color: #ffffff;
        }

        .purple-text {
            color: #4c2b7c !important;
        }

        strong {
            font-weight: 900;
        }

        #subscribe {
            /*margin: 2rem auto 2rem auto;*/
            background: #fff;
            opacity: 0.9;
            padding: 1rem 0 1rem 0;
            border-radius: 10px;
        }

        #channels .channel-button {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(200, 200, 240, 0.4);
            color: #ffffff;
            padding: 0.5rem;
            border-radius: 10px;
            margin: 3px;
            font-size: 14px;
            width: 120px;
            height: 120px;
        }

        #channels .channel-button:hover,
        #channels .channel-button.active {
            background-color: #ffffff;
            color: #832ff8;
            cursor: pointer;
            text-decoration: none;
            -webkit-transition: all linear 0.25s;
            -moz-transition: all linear 0.25s;
            -ms-transition: all linear 0.25s;
            -o-transition: all linear 0.25s;
            transition: all linear 0.25s;
        }

        #channels .channel-button i.fas,
        #channels .channel-button i.fab {
            display: block;
            font-size: 50px !important;
            margin: 0.5rem;
        }

        #channels {
            padding: 1rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            /*background-color: rgba(255, 255, 255, 0.6);*/
        }

        #channels .channel-blurb {
            /*-webkit-transition: all linear 0.5s;*/
            /*-moz-transition: all linear 0.5s;*/
            /*-ms-transition: all linear 0.5s;*/
            /*-o-transition: all linear 0.5s;*/
            /*transition: all linear 0.5s;*/
            padding: 0.5rem;
            /*color: #623ff8;*/
            font-size: 1.2rem;
        }

        #channels #btn-mailing-list {
            -webkit-animation: bounceInDown 0.25s ease 0s;
            animation: bounceInDown 0.25s ease 0s;
        }

        #channels #btn-twitter {
            -webkit-animation: bounceInDown 0.25s ease 0.1s;
            animation: bounceInDown 0.25s ease 0.1s;
        }

        #channels #btn-instagram {
            -webkit-animation: bounceInDown 0.25s ease 0.2s;
            animation: bounceInDown 0.25s ease 0.2s;
        }

        #channels #btn-youtube {
            -webkit-animation: bounceInDown 0.25s ease 0.3s;
            animation: bounceInDown 0.25s ease 0.3s;
        }

        #channels .channel-blurb.ng-hide-remove {
            -webkit-animation: bounceInLeft 0.5s;
            animation: bounceInLeft 0.5s;
        }

        #yt-video-container iframe {
            /*border: solid 1rem rgba(255, 255, 255, 0.6);*/
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #shh-intro {
            -webkit-animation: bounceInRight 0.5s;
            animation: bounceInRight 0.5s;
        }

        #yt-video-container {
            -webkit-animation: fadeIn 1.0s;
            animation: fadeIn 1.0s;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            /**
             * jQ document ready
             */
            $(function() {
                var bg = [ '01', '02', '03', '04', '05', '06', '07' ];
                var curIndex = 0, prevIndex = 0;

                // default background
                $('.sf-background.bg-01').addClass('animated fadeIn');
                // swap bg every 5s
                var interval = setInterval(function() {
                    $('.sf-background').removeClass('animated');
                    $('.sf-background').removeClass('fadeOut');
                    $('.sf-background').removeClass('fadeIn');

                    curIndex++;
                    curIndex = curIndex % bg.length;

                    $('.sf-background.bg-' + bg[prevIndex]).addClass('animated fadeOut');
                    $('.sf-background.bg-' + bg[curIndex]).addClass('animated fadeIn');

                    prevIndex = curIndex;
                }, 5000);
            });
        })();
    </script>

    <!-- subscription component -->
    <script type="text/javascript" src="{{ asset('bundles/preview/js/components/subscription.js') }}"></script>
{% endblock javascripts %}

{% block meta_tags %}
    <!-- stop crawl for now -->
    <meta name="robots" content="noindex">
{% endblock meta_tags %}

{% block body %}
    {% include("@Preview/templates/subscription.html.twig") %}

    {# series of background images #}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-01">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-02">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-03">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-04">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-05">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-06">#}
    {#</div>#}
    {#<div class="d-block position-fixed w-100 h-100 opacity-0 sf-background bg-07">#}
    {#</div>#}
    {#<div class="dark-overlay position-fixed w-100 h-100">#}
    {#</div>#}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        <header class="masthead"></header>

        <main role="main" class="inner cover">
            <div class="row w-100">
                <div class="col-lg-2 hidden-md-down"></div>
                <div class="col-lg-8 col-md-12">
                    <div class="big-title text-center w-100" id="shh-intro">
                        shhhh... want to know what we're building?
                    </div>
                    <section id="yt-video" class="m-auto">
                        <div id="yt-video-container" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ByAJ0OugOg?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <preview-subscription class="w-100"></preview-subscription>
                    </section>
                </div>
                <div class="col-lg-2 hidden-md-down"></div>
            </div>
            {#<div class="row w-100">#}
                {#<div class="col-lg-9 col-md-12 d-flex flex-column justify-content-start">#}
                    {#<div class="big-title text-center text-lg-left w-100">#}
                        {#stay in touch#}
                    {#</div>#}
                    {#<preview-subscription class="w-100"></preview-subscription>#}
                {#</div>#}
            {#</div>#}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}