{# This file is part of the PreviewBundle #}
{# Template file for displaying the preview page #}

{% extends '@App/base_bs4.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin+Condensed:400,500,600,700|Cabin:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <style>
        /*
         * Globals
         */

        /* Links */
        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }


        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            -webkit-transition: background 1.5s linear;
            -moz-transition: background 1.5s linear;
            -ms-transition: background 1.5s linear;
            -o-transition: background 1.5s linear;
            transition: background 1.5s linear;
            font-family: 'Comfortaa', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
            background-image: linear-gradient(to right, #151722, #65677c);
        }

        .sf-background {
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
        }

        .sf-background.bg-01 {
            background-image: url("{{ asset('bundles/app/img/preview/01.jpg') }}");
        }

        .sf-background.bg-02 {
            background-image: url("{{ asset('bundles/app/img/preview/02.jpg') }}");
        }

        .sf-background.bg-03 {
            background-image: url("{{ asset('bundles/app/img/preview/03.jpg') }}");
        }

        .sf-background.bg-04 {
            background-image: url("{{ asset('bundles/app/img/preview/04.jpg') }}");
        }

        .sf-background.bg-05 {
            background-image: url("{{ asset('bundles/app/img/preview/05.jpg') }}");
        }

        .sf-background.bg-06 {
            background-image: url("{{ asset('bundles/app/img/preview/06.jpg') }}");
        }

        .sf-background.bg-07 {
            background-image: url("{{ asset('bundles/app/img/preview/07.jpg') }}");
        }

        .cover-container {
            max-width: 42em;
        }


        /*
         * Header
         */
        .masthead {
            background: url("{{ asset('/bundles/preview/img/sf-logo-04.png') }}") center/auto 100px no-repeat;
            background-color: #ffffff;
            min-height: 140px;
            margin-bottom: 2rem;
            border-top: solid 5px #823ff8;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        .big-title {
            border-radius: 0;
            width: initial !important;
            font-family: 'Comfortaa', sans-serif;
            letter-spacing: -0.1rem;
        }

        .tagline {
            font-family: 'Cabin Sketch', 'Comfortaa', sans-serif;
            color: #ffffff;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }

        @media (max-width: 360px) {
            .sf-logo-text {
                font-size: 1.5rem;
            }

            .sf-logo-tagline {
                font-size: 0.4rem;
                letter-spacing: 0.25rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.7rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 1.5rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 60px;
                background-size: auto 60px;
                min-height: 80px !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 361px) and (max-width: 767px) {
            .sf-logo-text {
                font-size: 2rem;
            }

            .sf-logo-tagline {
                font-size: 0.5rem;
                letter-spacing: 0.3rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.7rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 2.0rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 60px;
                background-size: auto 60px;
                min-height: 80px !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .sf-logo-text {
                font-size: 4rem;
            }

            .sf-logo-tagline {
                font-size: 0.9rem;
                letter-spacing: 0.6rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 0.8rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 2.5rem;
                margin-top: -1.5rem;
            }

            .big-title {
                font-size: 2.0rem;
                font-weight: 100;
            }

            .masthead {
                -webkit-background-size: auto 80px;
                background-size: auto 80px;
                min-height: 100px !important;
            }

            #description {
                margin: 2rem 3rem !important;
            }

            #subscribe p {
                font-size: 1rem;
            }
        }

        @media (min-width: 1025px) {
            .sf-logo-text {
                font-size: 5.25rem;
            }

            .sf-logo-tagline {
                letter-spacing: 0.9rem;
            }

            .preview-coming-soon-in .coming-soon-text {
                font-size: 1rem;
            }

            .preview-coming-soon-in .coming-soon-year {
                font-size: 3.5rem;
                margin-top: -2rem;
            }

            .big-title {
                font-size: 2.5rem;
                font-weight: 100;
            }

            #description {
                margin: 3rem 10rem !important;
            }

            #subscribe p {
                font-size: 1.5rem;
            }

            #subscribe {
                width: 80%;
            }
        }

        /*
         * Cover
         */
        .cover {
            padding: 0 1.5rem;
        }
        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }


        /*
         * Footer
         */
        .mastfoot {
            color: #ffffff;
            padding: 1rem 0 1rem 0;
        }

        .mastfoot .fab {
            margin: 0 2rem 0 2rem;
        }

        .mastfoot .icons {
            margin-left: 2rem;
            border-left: solid 1px #ffffff;
        }

        .preview-coming-soon-in .coming-soon-text {
            font-weight: 100;
        }

        #intro h1 {
            color: #333333;
            text-transform: lowercase;
            font-weight: 100;
            font-size: 3rem;
            letter-spacing: 0.05rem;
        }

        #intro p {
            color: #666666;
            font-size: 1.2rem;
        }

        div.ng-enter {
            -webkit-animation: fadeIn 0.5s;
            animation: fadeIn 0.5s;
        }

        .thank-you {
            font-weight: 300;
        }

        .sf-green-text {
            color: #64d148;
        }

        .sf-text-weight-700 {
            font-weight: 700;
        }

        .sf-text-weight-500 {
            font-weight: 500;
        }

        .sf-text-weight-400 {
            font-weight: 400;
        }

        .sf-text-weight-300 {
            font-weight: 300;
        }

        .sf-text-weight-200 {
            font-weight: 200;
        }

        .sf-text-weight-100 {
            font-weight: 100;
        }

        .sf-bigger-text {
            font-size: 1.5em;
        }

        .blurb {
            color: #ffffff;
        }

        .purple-text {
            color: #4c2b7c !important;
        }

        strong {
            font-weight: 900;
        }

        #shh-intro {
            -webkit-animation: bounceInRight 0.5s;
            animation: bounceInRight 0.5s;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
{% endblock javascripts %}

{% block meta_tags %}
{% endblock meta_tags %}

{% block body %}
    <div class="d-flex w-100 h-100 mx-auto flex-column text-center" style="z-index: 999;">
        <header class="masthead"></header>

        <main role="main" class="inner cover">
            <div class="row w-100">
                <div class="col-lg-2 hidden-md-down"></div>
                <div class="col-lg-8 col-md-12">
                    <div class="big-title text-center w-100" id="shh-intro">
                        we are sorry to see you go...
                    </div>
                    <div class="channel-blurb">
                        but hope to see you back again in the not too distant future!
                    </div>
                </div>
                <div class="col-lg-2 hidden-md-down"></div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                        feel free to send us an email at <i class="fas fa-pen"></i> <a href="mailto:admin@secretflag.com">admin@secretflag.com</a> to have a one-on-one conversation
                    </div>
                </div>
                <div class="preview-coming-soon-in">
                    <span class="coming-soon-text">
                        lovingly crafted by the people at secretflag &ndash; &copy; 2019
                    </span>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}