/**
 * SecretFlag Stylesheet
 *
 * Stylesheet file for login page
 */


@media (min-width: 1280px) {
    .login-form {
        width: 60%;
    }
}

@media (max-width: 1279px) {
    .login-form {
        width: 95%;
    }
}

.login-form {
    margin: auto;
    padding: 25px 45px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}