/**
 * SecretFlag Stylesheet
 *
 * Stylesheet file for the verification page
 */

@media (max-width: 360px) {
    .big-title {
        font-size: 1.5rem;
        font-weight: 100;
    }
}

@media (min-width: 361px) and (max-width: 767px) {
    .big-title {
        font-size: 2.0rem;
        font-weight: 100;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .big-title {
        font-size: 2.0rem;
        font-weight: 100;
    }
}

@media (min-width: 1025px) {
    .big-title {
        font-size: 2.5rem;
        font-weight: 100;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

#shh-intro {
    -webkit-animation: bounceInRight 0.5s;
    animation: bounceInRight 0.5s;
}